<?xml version="1.0" encoding="utf-8"?>
<!--
    Christopher Conlan
    Created On: 14/04/2020
    Student No: S1512271
    Mobile Platform Development Coursework
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="org.me.gcu.trafficscotlandapp">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true">
        <activity
            android:name=".MainActivity"
            android:windowSoftInputMode="stateHidden"
            android:theme="@style/MainActivityTheme">
            <intent-filter>
                <action
                    android:name="android.intent.action.MAIN" />

                <category
                    android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>